@import url("https://fonts.cdnfonts.com/css/anurati");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/assets/homepage0.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  @apply font-dmSans bg-stone-800;
}

/* WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
html {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #890f62 #03071f; /* scroll thumb and track */
}

.debug {
  @apply border border-red-500;
}
