@import url("https://fonts.cdnfonts.com/css/anurati");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/public/assets/homepage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
